run/
log/
model/
data/
data_old/
Network-AI-dataset/
figure/
cluster-trace-v2018/batch_task.csv
__pycache__/
*.out
*.pstats
*.tar.gz
run_time_eval/model/
run_time_eval/log/
*.onnx
*.engine
*.trt
*.pth
*.pt
eval/
train/
MyMatplotlibrc
dataset/cluster-trace-v2018/batch_task.csv
kill.sh
*.log